<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luisreyes.proyecto_aguas">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.hardware.camera2.full"/>
    <uses-permission android:name="android.hardware.camera.flash"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.luisreyes.proyecto_aguas.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen_Login_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".team_or_personal_task_selection_screen_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Table_Team"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Unity_Counter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Battery_counter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".personal_task_screen_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".team_task_screen_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Table_Personal"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Fast_View_Team_Task"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Fast_View_Personal_Task"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Incidence"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Incidence_Summary"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Absent"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Execute_Task"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Validate"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Battery_Intake_Asignation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".lector"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Draw_Canvas"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Validate_Battery_Intake_Asignation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Zoom_Photo"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Register_Operario"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_User_Data"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Camera"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".Screen_Insertar_Tarea"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Screen_Zoom_Firma"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>

        <!--<activity android:name=".Screen_Login_Activity"-->
           <!--&gt;</activity>-->
        <!--<activity android:name=".team_or_personal_task_selection_screen_Activity"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Table_Team"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Unity_Counter"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Battery_counter"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".personal_task_screen_Activity"-->
           <!--&gt;</activity>-->
        <!--<activity android:name=".team_task_screen_Activity"-->
           <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Table_Personal"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Fast_View_Team_Task"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Fast_View_Personal_Task"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Incidence"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Incidence_Summary"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Absent"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Execute_Task"-->
           <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Validate"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Battery_Intake_Asignation"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".lector"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Draw_Canvas"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Validate_Battery_Intake_Asignation"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Zoom_Photo"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Register_Operario"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_User_Data"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Camera"-->
            <!--&gt;</activity>-->
        <!--<activity android:name=".Screen_Insertar_Tarea"-->
            <!--&gt;</activity>-->
    </application>

</manifest>